In [ ]:
import requests
import time
from bs4 import BeautifulSoup

def extract(page):

    url = f"https://api.scrapingdog.com/scrape?api_key=xxxxxxxxxxxxxxxxxxxx&url=https://in.indeed.com/jobs?q=python+developer&start={page}&pp=gQAPAAABi2FZ6-4AAAACFRPobAA5AQAB45Bl09X1F072kGOMi2yOTBMXw_p8TMjrFwUIUNxZJfnLIS6jvDOseE8Y5edSf0ICISM_f20EAAA"

    req = requests.get(url)
    # return req.status_code
    soup = BeautifulSoup(req.content, 'html.parser')
    return soup

def transform(soup):
    divs = soup.find_all('div', class_='job_seen_beacon')
    for item in divs:
        title = item.find('a').text.strip()
        try:
          company = item.find('span', class_='css-1x7z1ps').text.strip()
        except:
          company = ''
        try:
            salary = item.find('div', class_='salary-snippet-container').text.strip()
        except:
            salary = ''

        try:
            location = item.find('div', class_='css-t4u72d').text.strip()
        except:
            location = ''

        job = {
            'title': title,
            'company': company,
            'salary': salary,
            'location': location
        }
        allJobs.append(job)
        print(job)
    return

allJobs = []
# transform(extract(0))
for i in range(0,6670,10):
    c = extract(i)
    transform(c)
    time.sleep(1)

In [54]:
import pandas as pd
df = pd.DataFrame(allJobs)
dfC = df.copy()
df.to_csv("originData")

In [55]:
import re

def extractNum(input_string):
    numbers = re.findall(r'\d+', input_string)
    numbers = [int(number) for number in numbers]
    return numbers

def Avg(lst):
  return (sum(lst)/len(lst))

In [67]:
yearlySalary = []

for salaryText in df.salary:
  if salaryText != "":

    if "year" in salaryText:
      salaryText = salaryText.replace(",","")
      num = Avg(extractNum(salaryText))
      yearlySalary.append(num)

    if "month" in salaryText:
      salaryText = salaryText.replace(",","")
      num = Avg(extractNum(salaryText))
      yearlySalary.append(12*num)

    if "week" in salaryText:
      salaryText = salaryText.replace(",","")
      num = Avg(extractNum(salaryText))
      yearlySalary.append(48*num)

    if "day" in salaryText:
      salaryText = salaryText.replace(",","")
      num = Avg(extractNum(salaryText))
      yearlySalary.append(260*num)

    if "hour" in salaryText:
      salaryText = salaryText.replace(",","")
      num = Avg(extractNum(salaryText))
      yearlySalary.append(8*260*num)

  else:
    yearlySalary.append("")

In [ ]:
df["yearlySalary"] = yearlySalary

In [65]:
df.describe

<bound method NDFrame.describe of                                                   title             company  \
0     Trainee Software Developer ( Exp Req: 0- 10 mo...                 CIS
1                                      Python Developer             Virtusa
2                               Python Django Developer          ZOG Global
3                                    R/ Python Engineer           NielsenIQ
4                    Python Developer for PlanIT in SML         Volvo Group
...                                                 ...                 ...
9904                 Senior Software Developer (Python)          S&P Global
9905            Software Engineer - FullStack Developer              Pluto7
9906                        Python Full Stack Developer              Zessta
9907                                      Software Test                 IBM
9908           Programmer (Dev) (3364980) - 5.3 - India  Persistent Systems

             salary                            location yearlySalary
0                                Indore, Madhya Pradesh
1                    Hybrid remote in Pune, Maharashtra
2                                                Remote
3                                     Pune, Maharashtra
4                                  Bengaluru, Karnataka
...             ...                                 ...          ...
9904                               Hyderabad, Telangana
9905                     Remote in Bengaluru, Karnataka
9906                               Hyderabad, Telangana
9907                                 Ahmedabad, Gujarat
9908  â‚¹17,000 a day      Remote in Hyderabad, Telangana    4420000.0

[9909 rows x 5 columns]>

In [66]:
indexIndore = []
indoreSalary = []

for i in range(len(df)):
  for x in ["indore", "Indore"]:
    if x in df.iloc[i]["location"]:
      indexIndore.append(i)

for indice in indexIndore:
  if df.iloc[indice]["yearlySalary"] != "":
    indoreSalary.append(df.iloc[indice]["yearlySalary"])


import numpy as np

arr = np.array(indoreSalary)
if len(arr)==0:
  print("average cannot be found")
else:
  print(np.mean(arr))

716666.6666666666